In [1]:
import pandas as pd
import numpy as np

In [4]:
%%time
df = pd.read_csv("Divvy_processed.csv")
# df['no_per_date'] = df.groupby(['k_date'])['start_station_name'].transform('size')
# df['no_per_station'] = df.groupby(['k_date','start_station_name'])['start_station_name'].transform('size')
# df.to_csv("grouped_processed_fin.csv",index=False)

/Users/BharathBandaru/opt/anaconda3/lib/python3.8/site-packages/decorator.py:231: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  return caller(func, *(extras + args), **kw)

CPU times: user 1min 57s, sys: 43.4 s, total: 2min 40s
Wall time: 2min 57s

In [5]:
df.head()

,started_at,ended_at,trip_duration,start_station_name,k_date,k_time,end_station_name,date,maxtempC,mintempC,...,h-precipMM,h-humidity,h-visibilityKM,h-cloudcover,h-FeelsLikeC,day_of_week,time_of_day,season,is_holiday,h-uvIndex
0,12/31/2015 05:35:00 PM,12/31/2015 05:44:00 PM,521,Wilton Ave & Belmont Ave,12-31-15,600,Southport Ave & Roscoe St,12/31/2015,-2,-4,...,0.0,85,10,58,-9,3,Morning,Winter,1,2
1,12/31/2015 05:37:00 PM,12/31/2015 05:41:00 PM,256,Clark St & Schiller St,12-31-15,600,Clybourn Ave & Division St,12/31/2015,-2,-4,...,0.0,85,10,58,-9,3,Morning,Winter,1,2
2,12/31/2015 05:37:00 PM,12/31/2015 05:40:00 PM,134,Marine Dr & Ainslie St,12-31-15,600,Clarendon Ave & Leland Ave,12/31/2015,-2,-4,...,0.0,85,10,58,-9,3,Morning,Winter,1,2
3,12/31/2015 05:38:00 PM,12/31/2015 05:55:00 PM,995,Ashland Ave & Blackhawk St,12-31-15,600,Green St (Halsted St) & Madison St,12/31/2015,-2,-4,...,0.0,85,10,58,-9,3,Morning,Winter,1,2
4,12/31/2015 05:38:00 PM,12/31/2015 05:41:00 PM,177,Larrabee St & Kingsbury St,12-31-15,600,Sedgwick St & Huron St,12/31/2015,-2,-4,...,0.0,85,10,58,-9,3,Morning,Winter,1,2

In [6]:
def getSInNum(x):
    if(x=='Winter'):
        return 1
    elif(x=='Spring'):
        return 2
    elif(x=='Summer'):
        return 3
    elif(x=='Fall'):
        return 4
df["season_num"] = df["season"].apply(getSInNum)

In [5]:
start = df.groupby(['k_date', 'start_station_name']).agg(count=('start_station_name', 'size'), 
                                                         uvIndex=('uvIndex', 'mean'),
                                                         tempC=('h-tempC', 'mean'),
                                                         totalSnow_cm=('totalSnow_cm', 'mean'),
                                                         mintempC=('mintempC', 'mean'),
                                                         maxtempC=('maxtempC', 'mean'),
                                                         windSpeedKmph=('h-windSpeedKmph', 'mean'),
                                                         precipMM=('h-precipMM', 'mean'),
                                                         humidity=('h-humidity', 'mean'),
                                                         visibilityKM=('h-visibilityKM', 'mean'),
                                                         cloudcover=('h-cloudcover', 'mean'),
                                                         FeelsLikeC=('h-FeelsLikeC', 'mean'),
                                                         is_holiday=('is_holiday', 'mean'),
                                                         day_of_week=('day_of_week', 'mean'),
                                                         season_num=('season_num', 'mean')
                                                        ).reset_index()

In [7]:
minim = df.groupby(['k_date']).agg(count=('k_date', 'size'), 
                                                         uvIndex=('uvIndex', 'mean'),
                                                         tempC=('h-tempC', 'mean'),
                                                         totalSnow_cm=('totalSnow_cm', 'mean'),
                                                         mintempC=('mintempC', 'mean'),
                                                         maxtempC=('maxtempC', 'mean'),
                                                         windSpeedKmph=('h-windSpeedKmph', 'mean'),
                                                         precipMM=('h-precipMM', 'mean'),
                                                         humidity=('h-humidity', 'mean'),
                                                         visibilityKM=('h-visibilityKM', 'mean'),
                                                         cloudcover=('h-cloudcover', 'mean'),
                                                         FeelsLikeC=('h-FeelsLikeC', 'mean'),
                                                         is_holiday=('is_holiday', 'mean'),
                                                         day_of_week=('day_of_week', 'mean'),
                                                         season_num=('season_num', 'mean')
                                                        ).reset_index()

In [8]:
minim.head()

,k_date,count,uvIndex,tempC,totalSnow_cm,mintempC,maxtempC,windSpeedKmph,precipMM,humidity,visibilityKM,cloudcover,FeelsLikeC,is_holiday,day_of_week,season_num
0,01-01-14,123,1,-6.626016,0.8,-9,-6,22.495935,0.320325,90.934959,3.650407,97.780488,-14.162602,1,2,1
1,01-01-15,862,2,-6.728538,0.0,-7,-2,33.653132,0.000000,58.179814,10.000000,2.966357,-16.076566,1,3,1
2,01-01-16,935,2,-4.871658,0.0,-6,-2,30.911230,0.000000,83.099465,6.654545,80.131551,-13.173262,1,4,1
3,01-01-17,1727,2,-1.088593,0.0,-2,3,12.295310,0.000000,71.729010,10.000000,0.761436,-5.281413,1,6,1
4,01-01-18,375,2,-18.266667,0.0,-19,-16,20.117333,0.000000,93.200000,10.000000,27.381333,-28.442667,1,0,1

In [6]:
end = df.groupby(['k_date', 'end_station_name']).agg(count=('end_station_name', 'size'), 
                                                         uvIndex=('uvIndex', 'mean'),
                                                         tempC=('h-tempC', 'mean'),
                                                         totalSnow_cm=('totalSnow_cm', 'mean'),
                                                         mintempC=('mintempC', 'mean'),
                                                         maxtempC=('maxtempC', 'mean'),
                                                         windSpeedKmph=('h-windSpeedKmph', 'mean'),
                                                         precipMM=('h-precipMM', 'mean'),
                                                         humidity=('h-humidity', 'mean'),
                                                         visibilityKM=('h-visibilityKM', 'mean'),
                                                         cloudcover=('h-cloudcover', 'mean'),
                                                         FeelsLikeC=('h-FeelsLikeC', 'mean'),
                                                         is_holiday=('is_holiday', 'mean'),
                                                         day_of_week=('day_of_week', 'mean'),
                                                         season_num=('season_num', 'mean')
                                                        ).reset_index()

In [7]:
end.shape

(1279404, 17)

In [8]:
start.shape

(1282466, 17)

In [12]:
d = df.query('k_date == "08-14-21"')

In [13]:
d.head()

,started_at,ended_at,trip_duration,start_station_name,k_date,k_time,end_station_name,date,maxtempC,mintempC,...,h-humidity,h-visibilityKM,h-cloudcover,h-FeelsLikeC,day_of_week,time_of_day,season,is_holiday,h-uvIndex,season_num
28263895,2021-08-14 11:10:25,2021-08-14 11:39:33,1748,Kingsbury St & Kinzie St,08-14-21,900,NaN,8/14/2021,26,20,...,55,10,2,22,5,Morning,Summer,0,6,3
28263896,2021-08-14 11:11:52,2021-08-14 11:25:28,816,NaN,08-14-21,900,NaN,8/14/2021,26,20,...,55,10,2,22,5,Morning,Summer,0,6,3
28263897,2021-08-14 10:42:37,2021-08-14 10:51:45,548,NaN,08-14-21,900,State St & 19th St,8/14/2021,26,20,...,55,10,2,22,5,Morning,Summer,0,6,3
28263898,2021-08-14 10:44:08,2021-08-14 12:32:21,6493,NaN,08-14-21,900,NaN,8/14/2021,26,20,...,55,10,2,22,5,Morning,Summer,0,6,3
28263899,2021-08-14 11:09:10,2021-08-14 11:25:20,970,NaN,08-14-21,900,NaN,8/14/2021,26,20,...,55,10,2,22,5,Morning,Summer,0,6,3

In [9]:
def getYear(x):
    return int(x.split("-")[2])
#start["year"] = start.k_date.apply(getYear)
#end["year"] = end.k_date.apply(getYear)
minim["year"] = minim.k_date.apply(getYear)

In [11]:
def getDay(x):
    spl = x.split("-")
    return spl[0]+"-"+spl[1]
#start["day"] = start.k_date.apply(getDay)
#end["day"] = end.k_date.apply(getDay)
minim["day"] = minim.k_date.apply(getDay)

In [13]:
def getMonth(x):
    return int(x.split("-")[0])
#start["month"] = start.k_date.apply(getMonth)
#end["month"] = end.k_date.apply(getMonth)
minim["month"] = minim.k_date.apply(getMonth)

In [16]:
start.to_csv("start_date_grouped_fin.csv",index=False)

In [15]:
end.to_csv("end_date_grouped_fin.csv",index=False)

In [14]:
minim.to_csv("minim_grouped_fin.csv",index=False)